$progress-state-transition-duration: .4s;
$dashboard-height: em(27px);

.stage__header {
	max-width: $card-width;
	margin: 0 auto;
}

.dashboard,
.progress {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.dashboard {
	line-height: $dashboard-height;

	li {
		float: left;
	}
}

.dashboard__item {
	width: 25%;

	@include transition(color $progress-state-transition-duration);

	&[data-state="quick"] { color: $color-state-quick; }
	&[data-state="fair"]  { color: $color-state-fair; }
	&[data-state="false"] { color: $color-state-false; }
	&[data-state="slow"]  { color: $color-state-slow; }
}

.dashboard__number {
	width: 50%;
	text-align: center;
}

.dashboard__link {
	width: 25%;
	text-align: right;
}

.dashboard__love {
	width: em(27px);
	height: em(27px);
	background: url("icons/love.png") no-repeat 0% 0%;
	float: left;
}

.dashboard__share {
	width: em(27px);
	height: em(21px);
	margin-top: em(3px);
	background: url("icons/share.png") no-repeat 0% 0%;
	float: right;
}

.dashboard__love,
.dashboard__share {
	@include background-size(cover);

	&:hover {
		opacity: .5;
	}
}

.progress {
	@include flex-box();

	margin: .5em 0 0;

	[data-state="default"] { background-color: $color-state-default; }
	[data-state="quick"]   { background-color: $color-state-quick; }
	[data-state="fair"]    { background-color: $color-state-fair; }
	[data-state="false"]   { background-color: $color-state-false; }
	[data-state="slow"]    { background-color: $color-state-slow; }
	[data-state="running"] { background-color: $color-state-running; }
}

.progress__step {
	@include flex(1);

	width: 10%;
	height: .25em;
	background-color: $color-state-default;
	border-right: 1px solid #fff;
	// @include box-shadow(inset -1px 0 1px -1px #fff);
	@include transition(background-color .2s);

	&:last-child {
		border-right: 0 none;
		// @include box-shadow(none);
	}
}

.progress__meter {
	width: 0%;
	height: 100%;
	background-color: $color-state-slow;
	@include transition(width .5s linear, background-color $progress-state-transition-duration);
}
