.arena {
	max-width: em(576px); // + 2*padding? = + 16px?
	height: 92%;
	margin: 0 auto;
	// height: calc(100% - 42px);
	// background-color: #fcc;
}

.card {
	background-color: #fff;
}

.card__intro {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	// opacity: 0;
}

// needed for iOS font-size bug
.card__text {
	@include font-size-range(16px, 24px);
	font-family: "Franziska", serif;
	font-weight: 500;
}

.card__content {
	display: table;
	width: 100%;
	height: 100%;
}

.question {
	display: table-row;
	height: 80%;
	opacity: 0;
}

.question__text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;

	@include font-size-range(16px, 24px);
	font-family: "Franziska", serif;
	font-weight: 500;
	padding: 0 em(8px);
}

.answers {
	display: table-row;
	height: 20%;
	opacity: 0;
}

.answers_list {
	display: table-cell;
	vertical-align: bottom;
	margin: 0;
	padding: 0;
	list-style: none;
}

.answer {
	position: relative;
	color: #fff;
	background-color: $color-answer-default;
	margin: 1px auto 0;
	padding: em(12px) em(8px);
	max-width: $card-width;
	cursor: pointer;
	@include transition(background-color .5s);

	&:hover,
	&[data-state~="selected"] {
		background-color: $color-answer-selected;
	}

	/*
	&[data-state~="selected"] {
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			z-index: 10;

			@include box-shadow(0 0 2px $color-answer-default, inset 0 0 2px 1px $color-answer-default);

			$answer-animation: fetz .5s both;

			-webkit-animation: $answer-animation;
			        animation: $answer-animation;
		}
	}
	*/

	&[data-state~="false"] {
		color: $color-answer-selected;
		background-color: transparent;
		text-decoration: line-through;
	}

	&[data-state~="solved"] {
		color: $white;
		background-color: $white;
	}

	&[data-state~="correct"] {
		@include animation(fetz .12s both);
	}
}

.pt-page-swap {
	@include animation(swap 0.015s ease both);
}

// Animations

$page-fade-duration: 0.7s !default;
$card-intro-duration: 0.7s !default;
$card-intro-delay: 0.5s !default;
$card-text-duration: 0.7s !default;
$card-list-duration: 0.7s !default;
$card-timing-function: ease-out !default;

.card--active {
	.card__intro {
		@include animation(fadeOut $card-intro-duration $card-timing-function $card-intro-delay both);
	}
	.question {
		@include animation(fadeIn $card-text-duration $card-timing-function $card-intro-delay+$card-intro-duration both);
	}
	.answers {
		@include animation(fadeIn $card-list-duration $card-timing-function $card-intro-delay+$card-intro-duration+$card-text-duration both);
	}
}

.pt-page-fadeIn {
	@include animation(fadeIn $page-fade-duration ease $page-fade-duration both);
}

.pt-page-fadeOut {
	@include animation(fadeOut $page-fade-duration ease both);
}

// Keyframes

@-webkit-keyframes fetz {
	0%   { -webkit-transform: scale(1); }
	50%  { -webkit-transform: scale(1.05); }
	100% { -webkit-transform: scale(1); }
}
@keyframes fetz {
	0%   { transform: scale(1); }
	50%  { transform: scale(1.05); }
	100% { transform: scale(1); }
}

@-webkit-keyframes swap {
	0%   {  }
	100% { opacity: 1; }
}
@keyframes swap {
	0%   {  }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes fadeOut {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}

