.arena {
	max-width: em(576px); // + 2*padding? = + 16px?
	height: 90%;
	margin: 0 auto;
	// height: calc(100% - 42px);
	// background-color: #fcc;
}

.card {
	background-color: #fff;
}

.card__intro {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	// opacity: 0;
}

// needed for iOS font-size bug
.card__text {
	@include font-size-range(16px, 24px);
	font-family: "Franziska", serif;
	font-weight: 500;
}

.card__content {
	display: table;
	width: 100%;
	height: 100%;
}

.question {
	display: table-row;
	height: 50%;
	opacity: 0;
}

.question__text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;

	@include font-size-range(16px, 24px);
	font-family: "Franziska", serif;
	font-weight: 500;
	padding: 0 em(8px);
}

.answers {
	display: table-row;
	height: 50%;
	opacity: 0;
}

.answers_list {
	display: table-cell;
	vertical-align: bottom;
	margin: 0;
	padding: 0;
	list-style: none;
}

.answer {
	position: relative;
	color: #fff;
	background-color: $color-answer-default;
	margin: 1px auto 0;
	padding: em(12px) em(8px);
	max-width: 320px;
	cursor: pointer;
	@include transition(background-color .5s);

	&:hover,
	&[data-state~="selected"] {
		background-color: $color-answer-selected;
	}

	/*
	&[data-state~="selected"] {
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			z-index: 10;

			@include box-shadow(0 0 2px $color-answer-default, inset 0 0 2px 1px $color-answer-default);

			$answer-animation: fetz .5s both;

			-webkit-animation: $answer-animation;
			        animation: $answer-animation;
		}
	}
	*/

	&[data-state~="false"] {
		color: $color-answer-selected;
		background-color: transparent;
		text-decoration: line-through;
	}

	&[data-state~="solved"] {
		color: $white;
		background-color: $white;
	}

	&[data-state~="correct"] {
		$answer-animation: fetz .12s both;

		-webkit-animation: $answer-animation;
		        animation: $answer-animation;
	}
}

.pt-page-swap {
	-webkit-animation: swap 0.015s ease both;
	        animation: swap 0.015s ease both;
}

// Animations

$card-intro-duration: 2s;
$card-text-duration: 2s;
$card-list-duration: 2s;
$card-timing-function: ease-out;

$card-intro-animation: fadeOut $card-intro-duration $card-timing-function both;
$card-text-animation: fadeIn $card-text-duration $card-timing-function $card-intro-duration both;
$card-list-animation: fadeIn $card-list-duration $card-timing-function ($card-intro-duration + $card-text-duration) both;

.card--active {
	.card__intro {
		-webkit-animation: $card-intro-animation;
		        animation: $card-intro-animation;
	}
	.question {
		-webkit-animation: $card-text-animation;
		        animation: $card-text-animation;
	}
	.answers {
		-webkit-animation: $card-list-animation;
		        animation: $card-list-animation;
	}
}

.pt-page-fadeIn {
	-webkit-animation: fadeIn 1s ease 1s both;
	        animation: fadeIn 1s ease 1s both;
}

.pt-page-fadeOut {
	-webkit-animation: fadeOut 1s ease both;
	        animation: fadeOut 1s ease both;
}

// Keyframes

@-webkit-keyframes fetz {
	0%   { -webkit-transform: scale(1); }
	50%  { -webkit-transform: scale(1.05); }
	100% { -webkit-transform: scale(1); }
}
@keyframes fetz {
	0%   { transform: scale(1); }
	50%  { transform: scale(1.05); }
	100% { transform: scale(1); }
}

@-webkit-keyframes swap {
	0%   {  }
	100% { opacity: 1; }
}
@keyframes swap {
	0%   {  }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes fadeOut {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}

