.stripes,
.points {
	width: 100%;
	max-width: $card-width;
	margin: 0 auto;
	padding: 0;
	list-style: none;

	@include flex-box();
}

.stripes {
	overflow: hidden;
	height: 94%;

	[data-state="default"] { background-color: $color-state-default; }
	[data-state="quick"]   { background-color: $color-state-quick; }
	[data-state="fair"]    { background-color: $color-state-fair; }
	[data-state="false"]   { background-color: $color-state-false; }
	[data-state="slow"]    { background-color: $color-state-slow; }
	[data-state="running"] { background-color: $color-state-running; }
}

.points {
}

.stripe,
.point {
	@include flex(1);
	text-align: center;
	line-height: 2;
}

.stripe {
	position: relative;
	border-right: 1px solid #fff;

	&:last-child {
		border-right: 0 none;
	}
}

.point {
	opacity: 0;
}

.color-strip {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 200%;
	// @include backface-visibility( hidden );
	// @include transform( translate3d( 0, 0, 0 ) );
}

.card--active {
	.point {
		@include animation(fadeIn .1s ease both);
	}

	.color-strip {
		@include animation(stripes 1s ease both);
	}
}

$stripes-transition-delay: .1s;

@for $i from 1 through 10 {
	.card--active {
		.point:nth-of-type(10n+#{$i}) {
			@include animation-delay($i * $stripes-transition-delay + .2s);
		}

		.stripe:nth-of-type(10n+#{$i}) .color-strip {
			@include animation-delay($i * $stripes-transition-delay);
		}
	}
}

@-webkit-keyframes stripes {
	0%   {
		bottom: 100%;
		height: 200%;
	}
	50% {
		bottom: 0%;
	}
	100% {
		height: 5%;
		bottom: 0%;
	}
}
@keyframes stripes {
	0%   {
		bottom: 100%;
		height: 200%;
	}
	50% {
		bottom: 0%;
	}
	100% {
		height: 5%;
		bottom: 0%;
	}
}


