pre {
	font-size: 12px;
}

h1 {
	font-size: 1.5em;
}

.scale {
	font-size: 1em;
}

@media screen and (min-width: 20em) {
	h1 {
		font-size: 7.5vw;
	}
	.scale {
		font-size: 5vw;
	}
}

@media screen and (min-width: 40em) {
	h1 {
		font-size: 3em;
	}
	.scale {
		font-size: 2em;
	}
}
