@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}

@mixin box-shadow($value...){
	-webkit-box-shadow: $value;
	   -moz-box-shadow: $value;
	        box-shadow: $value;
}

@mixin box-sizing($sizing: border-box) {
	-webkit-box-sizing: $sizing;
	   -moz-box-sizing: $sizing;
	        box-sizing: $sizing;
}

@mixin transform($value) {
	-webkit-transform: $value;
	   -moz-transform: $value;
	     -o-transform: $value;
	        transform: $value;
}

@mixin transform-origin($value) {
	-webkit-transform-origin: $value;
	   -moz-transform-origin: $value;
	     -o-transform-origin: $value;
	        transform-origin: $value;
}

@mixin transition($value...) {
	-webkit-transition: $value;
	   -moz-transition: $value;
	     -o-transition: $value;
	        transition: $value;
}

@mixin transition-property($value...) {
	-webkit-transition-property: $value;
	   -moz-transition-property: $value;
	     -o-transition-property: $value;
	        transition-property: $value;
}

@mixin transition-duration($value...) {
	-webkit-transition-duration: $value;
	   -moz-transition-duration: $value;
	     -o-transition-duration: $value;
	        transition-duration: $value;
}

@mixin animation($value) {
	-webkit-animation: $value;
	   -moz-animation: $value;
	     -o-animation: $value;
	        animation: $value;
}

@mixin animation-delay($value) {
	-webkit-animation-delay: $value;
	   -moz-animation-delay: $value;
	     -o-animation-delay: $value;
	        animation-delay: $value;
}

@mixin flex-box() {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex($value) {
	-webkit-box-flex: $value; /* OLD - iOS 6-, Safari 3.1-6 */
	   -moz-box-flex: $value; /* OLD - Firefox 19- */
	    -webkit-flex: $value; /* Chrome */
	        -ms-flex: $value; /* IE 10 */
	            flex: $value; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin order($value) {
	-webkit-box-ordinal-group: $value; /* OLD - iOS 6-, Safari 3.1-6 */
	   -moz-box-ordinal-group: $value; /* OLD - Firefox 19- */
	           -ms-flex-order: $value; /* TWEENER - IE 10 */
	            -webkit-order: $value; /* NEW - Chrome */
	                    order: $value; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/**
 * Create font-size range
 * @param     $min {Number} the minimum font size in pixel
 * @param     $max {Number} the maximum font size in pixel
 */

@mixin font-size-range($min, $max) {
	$breakpoint: max-font-screen-width($min, $max);

	font-size: em($min);

	@media screen and (min-width: em($min-screen-width)) {
		& {
			font-size: vw($min);
		}
	}

	@media screen and (min-width: $breakpoint) {
		& {
			font-size: em($max);
		}
	}
}
