$base-font-size: 16px;
$min-screen-width: 320px;
$card-width: 320px;

// Colors
// @see http://chir.ag/projects/name-that-color
$cyan: #07e6ff;				// türkis
$picton-blue: #51b4f4;		// himmelblau
$gigas: #503d91;			// lila
$mulberry: #bd5199;			// pflaume
$wild-strawberry: #ff408d;	// magenta
$mercury: #e6e6e6;			// grey
$black: #000;				// black
$white: #fff;				// white

// State colors
$color-state-default: $mercury;
$color-state-quick: $picton-blue;
$color-state-fair: $wild-strawberry;
$color-state-false: $black;
$color-state-slow: $mulberry;
$color-state-running: $white;

// answer colors
$color-answer-default: $gigas;
$color-answer-selected: $wild-strawberry;

// speed up animation
$hurry-up: false;

@if $hurry-up {
	$page-fade-duration:  5ms;
	$card-intro-duration: 5ms;
	$card-intro-delay:    5ms;
	$card-text-duration:  5ms;
	$card-list-duration:  5ms;
}
