// include custom mixins
@import "variables";
@import "functions";
@import "mixins";
@import "compass";

@import "normalize.css";

@import "modules/fonts";
@import "modules/animations";
@import "modules/cover";
@import "modules/header";
@import "modules/quiz";

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

html {
	line-height: 1.375;
}

body {
	font-family: "Tablet Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0 2em 2em;
	font-size: em($base-font-size);

	// attention, citizens
	overflow: hidden;
}

.stage {
	width: 100%;
	height: 100%;
	max-width: 800px;
	max-height: 600px;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.perspective {
	position: relative;
	width: 100%;
	height: 100%;
	@include perspective( 1200px );
}

.page {
	@include box-shadow(0 0 5px rgba(0, 0, 0, .5));
	background-color: #fff;
	padding: em(13px) em(7px) em(7px);
}

.page,
.card {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	@include backface-visibility( hidden );
	@include transform( translate3d(0, 0, 0) );
	@include transform-style( preserve-3d );
}

.page--current {
	visibility: visible;
	z-index: 1;
}

.pt-page-ontop {
	z-index: 999;
}
